header {

    nav {
        .flexbox (center, center);
        padding: 5.0rem 0 2.0rem 0;
        a {   
            text-decoration: none;
            color: silver;  
            margin: 1.0rem;
            font-family: fantasy;
            border-right: medium solid grey; 
            padding: 0 2.0rem 0 0;  
            
            a:hover{
                color: grey;
            }
        }
    }
}